<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz App</title>
  <link rel="stylesheet" href="/static/css/global.css">
  <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
  <div class="quiz-container">
    <div class="quiz-card">
      <img src="/static/img/Logo-Quiz.png" alt="Quiz Icon" class="quiz-icon">
      <p class="quiz-subtitle">Está na hora de ser o especialista oficial em... nada específico!</p>
      <a href="/quiz" class="button button-item">
        <span class="button-bg">
          <span class="button-bg-layers">
            <span class="button-bg-layer button-bg-layer-1 -purple"></span>
            <span class="button-bg-layer button-bg-layer-2 -turquoise"></span>
            <span class="button-bg-layer button-bg-layer-3 -yellow"></span>
          </span>
        </span>
        <span class="button-inner">
          <span class="button-inner-static">Começar</span>
          <span class="button-inner-hover">Começar</span>
        </span>
      </a>
      
      
    </div>
  </div>
</body>
</html>
